.card {
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem 2rem;
  display: flex;
  font-size: 3rem;
  min-width: 55rem;
  margin-bottom: 1rem;
}

.paragraph {
  font-weight: 700;
}

.photo {
  height: 15rem;
  width: 15rem;
  border-radius: 0.5rem;
}
